/*
==================================================
  REUSEABLE CLASSES CLIENT PROFILE
==================================================
*/

.back-to a {
  color: #fff;
}

.rows.only-this {
  margin-bottom: 65px;
}

.column-4, .column-1, .column-8 {
  position: relative;
  box-shadow: 0 1px 4px #95a5a6;
}

.client-footer {
  background: #3498db;
  width: 100%;
}

a.edit-client {
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 25px;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #e74c3c;

  -webkit-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
}

a.edit-client:hover, .box-footer a:hover {
  background: #c0392b;
  box-shadow: 0 2px 6px #000;
}

.client-box {
  font-size: 0.9em;
}

.indicator {
  background: #3498db;
  padding: 12px;
  text-align: center;
  text-transform: capitalize;
  color: #bdc3c7;
  font-size: 1.3em;
}

.indicator-result {
  padding: 20px;
  text-align: center;
  color: #bdc3c7;
}

/*
==================================================
    CLIENT PROFILE COVER STYLING
==================================================
*/
.client-profile {
  padding: 0;
}

.profile-image img {
  padding: 0;
  width: 100%;
}

.client-profile-details {
  margin: 25px 0;
}

li.info {
  padding: 12px 0;
  padding-left: 6px;
  border-bottom: 1px dotted #bdc3c7;
  color: #9c9a9a;
  font-size: 0.9em;
}

li.info:last-child {
  border-bottom: 0;
}

.footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-options div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #b0b0b0;
}

.footer-options div:nth-child(2) {
  margin: 0 1%;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}

.footer-options i {
  font-size: 1.4em;
  padding: 7px 0;
  cursor: pointer;

  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.footer-options i:hover {
  color: #fff;
}

/* Second column */

.client-company {
  padding: 0;
  text-align: center;;
  background: #1abc9c;
}

.company {
  margin-top: 70%;
}

.globe {
  font-size: 2.6em;
  margin-bottom: 20px;
  color: #bdc3c7;
}

.company-name {
  font-size: 1.2em;
}

.website-url a {
  color: #fff;
  margin-top: 20px;
}

.client-company .client-footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
}

/* Third column */
.column-4.business-phone {
  margin-left: auto;
  margin-right: auto;
}

.client-business-details .client-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}

.client-business-details .column-4 {
  padding: 0;
}

/*
==================================================
    CLIENT PROJECT DETAILS STYLING
==================================================
*/
h3.project-client {
  margin: 20px;
  margin-left: 0;
  color: #bdc3c7;
  text-transform: uppercase;
  width: 100%;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px;
}

.column-5.description-status {
  margin-right: 1%;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.column-7.timeline-features-budget {
  margin-right: 0;
}

.project-description, .project-client-status {
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
}

.description-status .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background: #3498db;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  color: #fff;
  line-height: 30px;
}

.title i {
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #e74c3c;

  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.title i:hover {
  background: #c0392b;
}

.projectname {
  padding: 10px;
  text-transform: capitalize;
  color: #95a5a6;
}

.description p {
  padding: 20px 10px;
  text-align: justify;
}

/* Project client status */
.project-client-status {
  margin-top: 35px;
}

.project-completion-status {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.8px;
}

.completed {
  color: #16a085;
}

#status {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  position: relative;
  border: 10px solid #16a085;
  border-radius: 50%;
  padding: 10px;
}

#percent-value {
  position: absolute;
  top: 40%;
  left: 30%;
  color: #1abc9c;
  font-size: 2em;
}

.project-footer {
  padding: 10px 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #bdc3c7;
  color: #fff;
  margin-top: 18px;
}

/*
==================================================
    TIMELINE FEATURES BUDGET STYLING
==================================================
*/
.timeline-features-budget .title {
  padding: 10px;
  background: #3498db;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  color: #fff;
  line-height: 30px;
}

.timeline-wrapper {
  padding: 40px 10px;
}

.project-timeline {
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.timeline li {
  border: 1px solid #16a085;
  position: relative;
  border-radius: 50%;
  background: #16a085;
}

.timeline li i:hover {
  color: #fff;
  -webkit-transform: scale(1.1) rotate(45deg);
          transform: scale(1.1) rotate(45deg);
}

.timeline li i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.8em;

  -webkit-transition: color 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: color 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
  transition: color 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-top: 2px solid #1abc9c;
  color: #000;
  top: 50%;
  left: 0;
  z-index: -1;
}

.timeline-status {
  position: absolute;
  top: 100%;
  left: 15%;
  margin-top: 12px;
  font-size: 0.8em;
  color: #bdc3c7;
}

.timeline-tooltip {
  position: absolute;
  width: 200px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
  z-index: 2;
  top: 100%;
  margin-top: 12px;
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.input-first {
  font-size: 0.95em;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin: 4px 0;
}

.input-first em {
  font-weight: 100;
  font-size: 0.8em;
  font-style: normal;
}

.timeline-tooltip .more-details {
  margin-top: 5px;
  font-size: 0.8em;
  color: #95a5a6;
}

.timeline-tooltip.show {
  opacity: 1;
}


/* Project features */

.project-features, .project-budget {
  margin: 43px 0 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
}

.project-features .title, .project-budget .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-features {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#web-features, #extra-features {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#web-features {
  border-right: 1px solid #bdc3c7;
}

#web-features li, #extra-features li {
  padding: 6px 0;
  text-transform: capitalize;
  font-size: 0.9em;
  color: #95a5a6;
}

#web-features li i, #extra-features li i {
  color: #16a085;
  font-size: 1.2em;
}

#extra-features {
  margin-left: 20px;
}

/* Project budget */
.project-budget {
  margin-top: 0;
}

.all-budget {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-budget > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-left: 1px solid #bdc3c7;
}

.all-budget > div:first-child {
  border-left: 0;
}

.all-budget > div span {
  font-size: 0.9em;
  color: #95a5a6;
  margin-bottom: 6px;
}

.all-budget > div p {
  font-size: 0.85em;
  color: #1abc9c;
}

/*
==================================================
    CLIENT STATISTIC CARDS STYLING
==================================================
*/



/*
==================================================
    CLIENT PROJECT PAYMENT STYLING
==================================================
*/





/*
==================================================
    ANIMATIONS
==================================================
*/
