
/*
==================================================
       CLIENTS SECTION STYLING
==================================================
*/
.all-tables .actions a:nth-child(2) {
  margin: 0 1%;
}
