.ceo-of-the-company {
  width: 50%;
  margin: 0 auto;
}

.ceo-of-the-company .name {
  padding: 8px 0;
  border: 1px solid #3498db;
  text-align: center;
  border-radius: 4px;
}

.note {
  background: #3498db;
  color: #fff;
  padding: 10px 0;
  padding-left: 8px;
  font-size: 0.9em;
}


/*
==================================================
    EMPLOYEES SECTION STYLING
==================================================
*/
#employees {
  border-top: 4px double black;
  margin: 65px 0;
  position: relative;
  padding-top: 25px;
}

#employees .role {
  border: 1px solid #3498db;
  color: #3498db;
  padding: 2px 4px;
}























/**/
