body {
  margin: 0;
  padding: 0;
}

.column-7, .column-5 {
  border: 1px solid black;
}

/*
=================================================
          LOGIN SECTION STYLING
=================================================
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.login {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-image: -webkit-linear-gradient(left, rgba(52,152,219,.8), rgba(231,76,60,.4)), url("../img/login.jpg");
  background-image: linear-gradient(to right, rgba(52,152,219,.8), rgba(231,76,60,.4)), url("../img/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-form {
  width: 40%;
}

.login-form form {
  width: 98%;
  margin: 0 auto;
  padding: 0px 15px 15px;
  background: #34495e;
}

.form-header {
  color: #1abc9c;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 700;
}

p {
  -webkit-animation: jump 1s 1 linear;
          animation: jump 1s 1 linear;
}

.form-body {
  margin: 15px 0;
}

.form-body input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  padding: 0 12px;
  font-size: 0.9em;
  border: 2px solid #1abc9c;
  outline: 0;
  background: transparent;

  -webkit-transition: box-shadow 0.3s ease-out, color 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, color 0.3s ease-out;
}

.form-body input:focus {
  box-shadow: 1px 1px 0px #1abc9c, 1px 1px 0 #16a085;
  color: #16a085;
}

.form-footer {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid #bdc3c7;
}

.form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.form-options label input[type="checkbox"]:checked + .task-name {
  text-decoration: none;
}

.forget-password a {
  text-decoration: underline;

  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.forget-password a:hover {
  color: #16a085;
}

.form-footer .secondary {
  display: block;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #fff;
  background: #3498db;
  border: 0;
}

.form-footer .secondary:hover {
  background: #2980b9;
}


/* ANIMATIONS */
@-webkit-keyframes jump {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  90% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
@keyframes jump {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  90% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}



/
