/* ===============================
 Responsiveness for small laptops
=================================== */
@media screen and (min-width: 881px) and (max-width: 960px) {
  /* Mini sidebar */
  .sidebar-menu, .sidebar-online {
    display: none;
  }

  .block-menu, .block-menu-two {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {
    display: block;
  }
  header input[type="search"] {
    margin-left: 10%;
  }

  /* Navigation Styling for sm laptop */
  nav.side-nav {
    width: 100%;
    display: none;
    z-index: 10;
    margin-bottom: 0px;
    padding-bottom: 1px;
    position: static;
  }

  span.mail-count {
    margin-left: 60%;
  }

  .bottom-options {
    width: 100%;
    position: static;
    margin-top: 45px;
  }

  nav.side-nav.open {
    display: block;
  }

  /* Dashboard Styling for sm laptop */
  .container {
    width: 100%;
    margin-left: 0;
  }

  #dash h3 {
    text-align: center;
  }

  .row {
    display: block;
  }

  .col-4 {
    margin: 25px auto;
  }

  #dash .col-4 {
    display: inline-block;
    width: 33%;
  }

  #dash .col-4:nth-child(2)  {
    width: 29%;
    margin: 25px 1%;
  }

  #dash .col-4:last-child  {
    width: 98%;
  }

  /* Support Tickets Styling for sm laptop */
  .tables {
    display: block;
    max-width: 1000px;
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 35px;
  }

  table {
    width: 1100px;
    margin-top: 12px;
    margin-bottom: 4px;
    border-spacing: 0;
  }

  tbody tr {
    font-size: 0.8em;
  }

  tbody span a {
    padding: 4px 6px;
  }

  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }

  tr:nth-child(even) {
    background: #e8eeef;
  }

  th, td {
    text-align: left;
    padding: 20px;
  }

  /* Reports Styling for sm laptop */
  #reports .col-4 {
    display: inline-block;
    width: 33%;
    margin: 25px auto;
  }

  #reports .col-4:nth-child(2) {
    width: 29%;
    margin: 25px 2%;
  }

  /* Entertainment Styling for sm laptop */
  #entertainment .more-forecasts .col-4, #entertainment .options .col-4 {
    margin: 0;
  }

  #entertainment .col-4 {
    display: inline-block;
    width: 48%;
    margin: 25px auto;
  }

  #entertainment .col-4:nth-child(2) {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    margin-bottom: -64px;
    max-height: 312px;
    overflow-y: scroll;
  }

  #entertainment .col-4:last-child {
    width: 98%;
  }

  #entertainment .col-4.tasks {
    overflow: hidden;
  }

  .tasks form {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding: 15px;
    margin-top: 8px;
  }

  #entertainment .more-forecasts .col-4:nth-child(2) {
    margin: 0 1% 0;
  }

  .tasks p {
    font-size: 0.85em;
    margin-top: 15px;
    text-align: left;
    padding-left: 15px;
  }

  /* Mobile Notification Styling for sm laptop */
  .fixed-position {
    display: none;
  }

  /* Progress Styling for sm laptop */
  #progress .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #progress .col-8, #progress .col-4 {
    display: inline-block;
    margin: 25px auto;
    width: 49%;
  }

  #progress .col-4 {
    width: 48%;
    margin-left: 2%;
    margin-bottom: -35px;
    overflow-y: hidden;
  }

  .chat-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
  }

  /* ===============================
   RESUABLE CLASSES for sm laptop
  =================================== */
  .table-wrapper {
    width: 98%;
    overflow-x: scroll;;
    overflow-y: hidden;
    margin-bottom: 120px;
    padding-bottom: 0;
    box-shadow: 0px 0px 8px #3498db, 0px 0px 12px #2980b9;
  }

  .all-tables {
    margin-bottom: 0;
  }

  .all-tables th i {
    display: none;
  }

  .all-tables th:first-child i {
    margin-left: 0;
    padding: 0;
    display: inline-block;
  }

  .project-status {
    left: 10%;
    font-size: 1.1em;
  }

  /* EMPLOYEES PAGE */
  .note {
    margin-bottom: 100px;
  }



  /* Footer Styling for sm laptop */
  footer {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }
}
